.item{
    text-decoration: none;
    list-style: none;
    border-bottom: black solid 2px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}
.item:hover{
    background-color: #d7d7d7;
}

.trashBin{
    background-color: red;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
}
.trashBin:hover{
    background-color: rgb(158, 14, 14);
}
.trashBin img{
    width: 30px;
    position: relative;
    top: 1px;
}


