.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card{
    width: 150px;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: 3px;
}
.card a{
  text-decoration: none;
  color: black;
}
.card p{
  text-overflow: clip;
  font-size: 25px;
  text-anchor: middle;
  padding: 0px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0px;
  margin-top: 5px;
  font-weight: bold;
  color: black;
  text-decoration: none !important;
}
.card:hover{
  background-color:#d9d8d7 ;
}
.cardImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.buy{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 19px;
    padding: 5px 50px 5px 50px;
    border-radius: 10px;
    border: none;
    background-color: #21D01D;
    font-weight: bold;
}
.buy:hover{
    background-color: #28a226;
}

